@model SignInDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="/img/unnamed.ico">
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">         
            <div class="col-lg-4 col-md-6 col-sm-10 col-10 offset-lg-4 offset-md-3 offset-sm-1 offset-1 shadow rounded mt-5 p-lg-4 p-md-2 p-1 border border-3 border-success">
                <form asp-controller="User" asp-action="SignIn" method="post">
                    <h3 class="text-uppercase w-100 text-center text-success">Sign In</h3>
                    <div asp-validation-summary="ModelOnly" class="p-3"></div>
                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" asp-for="RememberMe" value="true" class="form-check-input" />&nbsp;
                        <span class="form-check-label">Remember Me</span>
                    </div>
                    <div class="mb-3">
                        <div style="display:flex; flex-wrap: wrap; flex-direction:row; align-items:center; justify-content:space-evenly">
                            <div style="flex:1" class="px-2">
                                <a class="btn btn-secondary w-100" v-on:click="currentForm=1" href="/User/SignUp">
                                    Sign Up
                                </a>
                            </div>
                            <div style="flex:1" class="px-2">
                                <button class="btn btn-success w-100" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>   
            </div>        
        </div>
    </div>
</body>
</html>
